
@{
    ViewBag.Title = "Index";
}
<h1>HELLO</h1>

<p>This is a paragragh.</p>
<p>
    下面有個
    <b>小小的問卷</b>
    <i>請你</i>
    <u>不用太認真填</u>
</p>

<div>
    <p>這是靜宜大學的網站</p>
    <a href="https://alcat.pu.edu.tw/">PU</a>
</div>
<br />
<div>
    <form>
        你的名字:
        <input type="text" name="firstname" /><br />

        性別:
        <input type="radio" name="gender" value="A" />Male
        <input type="radio" name="gender" value="B" />Female<br />

        17唱:
        <input type="checkbox" name="item" value="C" />I
        <input type="checkbox" name="item" value="C" />am
        <input type="checkbox" name="item" value="C" />a
        <input type="checkbox" name="item" value="C" />good
        <input type="checkbox" name="item" value="C" />boy.<br />
        <input type="submit" value="Submit" />

    </form>
</div>
